<div class="{{b}}__filter-controls">
	<button class="g-icon-button" {{action "toggleView"}}>
		<i class="material-icons m-main">view_array</i>
	</button>
</div>

{{#if swipeActive}}
	{{swipe-container
		toggleView=(action "toggleView")
		activeRecipe=activeRecipe
		nextRecipe=nextRecipe
		previousRecipe=previousRecipe
		imageIndex=imageIndex
		switchRecipe=(action "switchRecipe")
	}}
{{/if}}

<div class="{{b}}__container">

	{{#if recipes}}
		{{#each recipes as |recipe index|}}
			{{recipe-card
				recipe=recipe
				recipeIndex=index
				setModalRecipe=(action "setModalRecipe")
			}}

		{{/each}}
	{{else}}
		No search results matched your query
	{{/if}}
	
</div>