<div class="{{b}}__filter-controlers">
	<button {{action "toggleView"}}>
		{{#if scrollActive}}
			Swipe
		{{else}}
			Scroll
		{{/if}}
	</button>
</div>

<div class="{{b}}__container">

	{{#if recipes}}
		{{#each recipes as |recipe index|}}
			{{recipe-card
				recipe=recipe
				flipped=flipped
				scrollActive=scrollActive
				class=(if (eq currentRecipe index) "m-active")
			}}

		{{/each}}
	{{else}}
		No search results matched your query
	{{/if}}
	
</div>