{{#each recipe.image_urls as |imageUrl imageIndex|}}
	<img class="{{b}}__image" src="{{imageUrl}}" {{action "setModalRecipe" recipeIndex imageIndex}}>
{{/each}}

<div class="{{b}}__instructions" {{action "setModalRecipe" recipeIndex recipe.image_urls.length}}>
	<h3 class="{{b}}__instructions__title">{{recipe.name}}</h3>

	<p>Cook Time: {{recipe.cook_time}}</p>
	<p>Yield: {{recipe.yield}}</p>

	{{#each recipe.ingredients as |ingredient|}}
		<p>{{ingredient.name}}</p>
	{{/each}}
</div>




