<div class="{{b}}__filter-controls">
	<button class="{{b}}__filter-controls__button" {{action "toggleView"}}>
			<i class="material-icons {{b}}__filter-controls__button__icon">view_array</i>
	</button>
</div>

<div class="{{b}}__container">

	{{#if recipes}}
		{{#each recipes as |recipe|}}
			{{recipe-card
				recipe=recipe
			}}

		{{/each}}
	{{else}}
		No search results matched your query
	{{/if}}
	
</div>