{{input type="text" value=searchValue
	placeholder="Search for ingredients"
	autocomplete="off"
	enter="ingredientQuery"
}}

<button {{action "toggleView"}}>
	{{#if scrollActive}}
		Swipe
	{{else}}
		Scroll
	{{/if}}
</button>

{{#each recipes as |recipe index|}}
	{{recipe-card 
		recipe=recipe
		flipped=flipped
		scrollActive=scrollActive
		class=(if (eq currentRecipe index) "m-active")
	}}

{{/each}}


{{!-- <button {{action "getMoreRecipes"}}>Get More</button> --}}
