<div class="{{b}}__filter-controls">
	<button class="{{b}}__filter-controls__button" {{action "toggleView"}}>
		{{#if gridActive}}
			<i class="material-icons {{b}}__filter-controls__button__icon">view_array</i>
		{{else}}
			<i class="material-icons {{b}}__filter-controls__button__icon">view_module</i>
		{{/if}}
	</button>
</div>


<div class="{{b}}__container {{if gridActive "m-grid"}}">

	{{#if recipes}}
		{{#each recipes as |recipe index|}}
			{{recipe-card
				recipe=recipe
				flipped=flipped
				gridActive=gridActive
				class=(if (eq currentRecipe index) "m-active")
			}}

		{{/each}}
	{{else}}
		No search results matched your query
	{{/if}}
	
</div>