{{#if gridActive}}

	<div class="{{b}}__grid-container">
		{{#each recipe.image_urls as |imageUrl|}}
			<img class="{{b}}__grid-container__image" src="{{imageUrl}}">
		{{/each}}
		<h3 class="{{b}}__grid-container__title">{{recipe.name}}</h3>
		<p>Cook Time: {{recipe.cook_time}}</p>
		<p>Yield: {{recipe.yield}}</p>
		{{#each recipe.ingredients as |ingredient|}}
			<p>{{ingredient.name}}</p>
		{{/each}}
	</div>

{{else}}

	{{#unless flipped}}
		<h2>{{recipe.name}}</h2>
	{{else}}

		{{#link-to "recipes.recipe" recipe.id}}
			<h4>{{recipe.name}}</h4>
		{{/link-to}}

		<p>Cook Time: {{recipe.cookTime}}</p>
		<p>Yield: {{recipe.yield}}</p>
		{{#each recipe.ingredients as |ingredient|}}
			<p>{{ingredient.name}}</p>
		{{/each}}

	{{/unless}}

{{/if}}





