<button {{action "toggleView"}}>
	{{#if scrollActive}}
		Swipe
	{{else}}
		Scroll
	{{/if}}
</button>

{{log 1111 scrollActive}}
{{#each recipes as |recipe index|}}
	{{recipe-card 
		recipe=recipe
		flipped=flipped
		scrollActive=scrollActive
		class=(if (eq currentRecipe index) "m-active")
	}}

{{/each}}


{{!-- <button {{action "getMoreRecipes"}}>Get More</button> --}}
