{{input type="text" value=ingredientQueryText
	placeholder="Search for ingredients"
	autocomplete="off"
	enter="addIngredient"
}}

{{#each ingredients as |ingredient|}}
  <div {{action "removeIngredient" ingredient}}>{{ingredient}}</div>
{{/each}}

<button {{action "toggleView"}}>
	{{#if scrollActive}}
		Swipe
	{{else}}
		Scroll
	{{/if}}
</button>

{{#if recipes}}
	{{#each recipes as |recipe index|}}
		{{recipe-card
			recipe=recipe
			flipped=flipped
			scrollActive=scrollActive
			class=(if (eq currentRecipe index) "m-active")
		}}

	{{/each}}
{{else}}
	No search results matched your query
{{/if}}