<button class="{{b}}__filter-controls__button" {{action "toggleView"}}>
	<i class="material-icons {{b}}__filter-controls__button__icon">view_module</i>
</button>

<div class="{{b}}__recipes">
	<div class="{{b}}__switch-recipe">
		<img src="{{previousRecipe.image_urls.[0]}}" class="{{b}}__switch-recipe__image" {{action "switchRecipe" "previous"}}>
	</div>

	<div class="{{b}}__active-recipe">
		{{recipe-card-swipe
			activeRecipe=activeRecipe
			imageIndex=imageIndex		
		}}
	</div>

	<div class="{{b}}__switch-recipe">
		<img src="{{nextRecipe.image_urls.[0]}}" class="{{b}}__switch-recipe__image" {{action "switchRecipe" "next"}}>
	</div>
</div>